.pointTable th {
  font-family: Arial;
  color: #555;
}
.pointTable td,
.pointTable th {
  text-align: center;
  font-family: Arial;
  border-top: 1px solid #dddd;
}
.pointTable th:first-child,
.pointTable td:first-child {
  border-right: 1px solid #ddd;
}
