.footer {
  height: 8vh;
  width: 100%;
  background-color: rgb(255, 216, 177);
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Footer {
  margin: 5%;
}
.nav-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-links-footer {
  font-size: 16;
  font-family: arial;
  font-weight: 600;
  color: rgb(101, 101, 101);
  padding: 2em;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.img-footer {
  height: 35px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
