.footer {
  height: 8vh;
  width: 100vw;
  background-color: rgb(255, 216, 177);
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}
