.header {
  height: 12vh;
  width: 100%;
  background-color: rgb(235, 236, 255);
  display: flex;
  align-items: center;
  border-style: none none solid none;
  border-color: #656565;
  border-width: 2px;
}
.title {
  font-size: 45px;
  font-family: Arial;
  font-weight: bold;
  color: rgb(101, 101, 101);
  padding-left: 32px;
  height: 50px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0px;
  width: 100%;
}
.nav-links-header {
  font-size: 16;
  font-family: arial;
  font-weight: 600;
  color: #656565;
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.67em;
  justify-content: space-between;
  align-items: center;
  display: flex;
  text-decoration: none;
}

.steam {
  display: flex;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  color: rgb(101, 101, 101);
  justify-content: center;
  align-items: center;
  width: 300px;
}
.steam-text {
  padding: 0.5em;
}
.sepper {
  height: 56px;
  width: 2px;
  background: #656565;
  float: left;
  margin-top: -3px;
}
.img-header {
  height: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
